
#IrArriba {
position: fixed;
bottom: 30px;
right: 30px;
}
#IrArriba a {
width: 60px;
height: 60px;
display: block;
background: url(http://lh5.googleusercontent.com/-luDGEoQ_WZE/T1Ak-gta5MI/AAAAAAAACPI/ojfEGiaNmGw/s60/flecha-arriba.png) no-repeat center center;
opacity:0.6;
}
#IrArriba a:hover {
width: 60px;
height: 60px;
display: block;
opacity:0.8;
-webkit-transition-duration: 0.3s;
background: url(http://lh5.googleusercontent.com/-luDGEoQ_WZE/T1Ak-gta5MI/AAAAAAAACPI/ojfEGiaNmGw/s60/flecha-arriba.png) no-repeat center center;
}
