// Place all the styles related to the inicio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


footer{
	
	text-align: center;
	font-size: 1rem;
	background-color: #000;
	color: #fff;
	bottom:0px;
	width: 100%;
	padding-top: 0px;
	margin-top: 0px;
	
}

footer:hover{
	color:#6B1687;

	
}

header{
	font-size:  0.829rem;
}

.fuentedatos{
	font-family: 'Gabriela', serif;

}
.fuentetexto{
	font-family: 'Allan', cursive;
}


.log{

}
.log:hover{
	color:blue;
}



.bienvenido{	
	text-decoration: none;
	color:#000;
	display:block;
	font-size: 1.4rem;
	text-align: center;
	border: 1px solid #1993A8;
	width: 380px;
	height: auto;
	background-color: #0FD222;
	color:#FFF;
	border-left: 4px solid #1993A8;
	border-radius: 50px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	margin:auto;
	margin-bottom: 6px;
	margin-top: 6px;
	transition: all 0.5s ease 0s;
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: ease;
	transition-delay: 0s;
	height: 10%;
	width:30%;
	
}

.bienvenido:hover{
	border-left-width: #666;
	border-left-width:5px;
	border-left-style: solid;
	border-left-color: #0FD222;
	background-color: #009999 ;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;	
	height: 30%;
	width: 50%;	
	
	}

.bienvenido2{	

	text-decoration: none;
	color:#000;
	display:block;
	font-size: 1.4rem;
	text-align: center;
	border: 1px solid #1993A8;
	width: 380px;
	height: auto;
	background-color: #0FD222;
	color:#FFF;
	border-right: 4px solid #1993A8;
	border-radius: 50px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	margin:auto;
	margin-bottom: 6px;
	margin-top: 6px;
	border-top-left-radius: 30px;
	transition: all 0.5s ease 0s;
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: ease;
	transition-delay: 0s;
	height: 10%;
	width: 42%;
	
}

.bienvenido2:hover{
	border-right-width: #666;
	border-right-width:3px;
	border-right-style: solid;
	border-right-color: #0FD222;
	background-color: #009999;
	
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;	
	height: 30%;
	width: 62%;	
	
	}

.bienvenido3{	
	text-decoration: none;
	color:#000;
	display:block;
	font-size: 1.4rem;
	text-align: center;
	border: 1px solid #1993A8;
	width: 380px;
	height: auto;
	background-color: #0FD222;
	color:#FFF;
	border-left: 4px solid #1993A8;
	border-radius: 50px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	margin:auto;
	margin-bottom: 6px;
	margin-top: 6px;
	transition: all 0.5s ease 0s;
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: ease;
	transition-delay: 0s;
	height: 10%;
	width: 46%;
	
}

.bienvenido3:hover{
	border-left-width: #666;
	border-left-width:5px;
	border-left-style: solid;
	border-left-color: #0FD222;
	background-color: #009999 ;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;	
	height: 30%;
	left: 20%;
	width: 66%;
	}



