<div class="container" style="background-color:#6B1687">
	<br>
    <section>
    <div class="row">
        <div class="col-lg-12 color1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>

    </div>      

</section>
    <section>
    <div class="row">
        <div class="col-lg-12 color2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>

    </div>      

</section>
<section>	
	<div class="row">
		<div class="col-lg-6 fuentedatos">
			
		<hr>
			<p class="bienvenido color1" style="width:30%;">Inicio</p>
			<p class="bienvenido2 color2" style="width:42%">Quienes Somos</p>
			<p class="bienvenido color3" style="width: 46%;">Productos</p>
			<p class="bienvenido2 color4" style="width:42%">Contacto</p>

			<hr>


		</div>
		<div class="col-lg-6 color8 fuentetexto">
		
		<h4 style="color:white">D'MI creaciones</h4>
		<p style="color:white">Inicio, Quienes Somos, Productos, Contacto, Inicio, Quienes Somos, Productos, Contacto </p>
		<p></p>
		
		</div>

	</div>
</section>



<section>
    <div class="row">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-6 color1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.4


            </div>
            <div class="col-lg-6 color2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.5</div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-6 color3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.6</div>
            <div class="col-lg-6 color4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.7</div>
        </div>
    </div>
    
    </div>
</section>


