<div style="text-align:center;">
<p class="bienvenido color1" style="width:17%;">Inicio</p>
<p class="bienvenido2 color2" style="width:21%">Quienes Somos</p>
<p class="bienvenido color3" style="width: 23%;">Productos</p>
<p class="bienvenido2 color4" style="width:19%">Contacto</p>
</div>
<hr>
<p style="background-color:#6B1687">Prueba color</p>
<hr>
<p class="bienvenido color1" style="width: 16%;">primero</p>
<p class="bienvenido color2" style="width: 17%;">segundo</p>
<p class="bienvenido color3" style="width: 18%;">tercero</p>
<p class="bienvenido color4" style="width: 19%;">cuarto</p>
<p class="bienvenido color9" style="width: 20%;">quinto</p>
<hr>
<p class="bienvenido color1">primero</p>
<p class="bienvenido color2">segundo</p>
<p class="bienvenido color3">tercero</p>
<p class="bienvenido color4">cuarto</p>
<p class="bienvenido color9">quinto</p>
<hr>
<p class="bienvenido color1" style="border-radius:0px;">primero</p>
<p class="bienvenido color2" style="border-radius:0px;">segundo</p>
<p class="bienvenido color3" style="border-radius:0px;">tercero</p>
<p class="bienvenido color4" style="border-radius:0px;">cuarto</p>
<p class="bienvenido color9" style="border-radius:0px;">quinto</p>
<hr>

